:root {
  /*----- Fonts ----- */
  --serif-font: "Crete Round", serif;
  --sans-serif-font: Verdana, arial, sans-serif;

  /* ----- Color palette ----- */
  --grey-light: #f5f9fa;
  --grey-dark: #333;
  --blue-light: #83d0f2;
  --blue-dark: #3d7e9a;
}

/* ----- Global ----- */
* {
  box-sizing: border-box;
}

body {
  font-family: var(--sans-serif-font);
}

h1,
h2,
h3 {
  margin: 0;
  font-family: var(--serif-font);
  font-weight: 700;
  color: var(--grey-dark);
}

h1 {font-size: 3em;}
h2 {font-size: 2.6em;}
h3 {font-size: 1.8em;}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

/* ----- Document header ----- */
#doc-header h1 {
  padding: 0.5em;
  background-color: var(--grey-light);
}

.doc-header__links {
  overflow: hidden;
  font-size: 1.3em;
  color: #fff;
  background-color: #000;
}

.doc-header__links header {
  display: list-item;
  float: left;
  padding: 0.64em 0.7em 0.64em 1.1em;
  font-family: var(--serif-font);
}

.doc-header__links li {
  float: left;
  padding: 0.64em 0.8em 0.44em;
  color: var(--blue-light);
  border-bottom: 0.2em solid transparent;
}

.doc-header__links li:hover {
  color: #fff;
  border-bottom-color: var(--blue-light);
}

/* ----- Navbar ----- */
#navbar {
  position: fixed;
  width: 20%;
  height: 100%;
  margin-right: 2em;
  padding: 2em;
  background-color: var(--grey-light);
}

#navbar header {
  margin-bottom: 0.5em;
  padding: 0.5em 0;
  border-bottom: 1px solid var(--grey-dark);
}

#navbar li {
  margin-bottom: 0.8em;
  color: var(--blue-dark);
}

#navbar li a:hover {
  text-decoration: underline;
}

/* ----- Main article ----- */
.main-article {
  margin-left: 20%;
  padding: 1.7em;
  line-height: 1.6;
}

.main-article p {
  max-width: 672px;
}

.topic-start > p {
  margin-top: 0;
}